.task {
  width: 50rem;
  height: 24rem;
  margin: 5% auto;
  margin-bottom: 5rem;
  border-style: ridge;
  border-radius: 50px;
  border-top: 2px ridge transparent;
  border-bottom: 2px ridge transparent;
  border-left: 2px ridge transparent;
  border-right: 2px ridge transparent;
}

/*.task:hover {
  background-color: rgb(255, 255, 255, 0.2);
}*/

.container {
  transform: translateX(-30px) translateY(-320px);
  justify-content: right;
  position: relative;
  display: grid;
  grid-template-columns: 30px 30px;
  grid-gap: 10px;
}

.editTask {
  grid-column-start: 1;
  //margin-left: 31rem;
  width: 30px;
  height: 30px;
  opacity: 80%;
}

.editTask:hover {
  opacity: 100%;
}

.removeTask {
  grid-column-start: 2;
  //margin-left: 29rem;
  width: 30px;
  height: 30px;
  opacity: 80%;
}

.removeTask:hover {
  opacity: 100%;
}

.title {
  padding: 2rem;
  border-top: 4px ridge white;
  border-bottom: 4px ridge white;
  font-size: 1.7rem;
  border-radius: 45px;
}

.description {
  padding: 2rem;
  border-top: 4px ridge white; //transparent; //#000;
  border-bottom: 4px ridge white;
  border-radius: 45px;
  font-size: 1.2rem;
  
}

.startDate {
  padding: 2rem;
  border-top: 4px ridge white;
  border-bottom: 4px ridge white;
  border-radius: 45px;
  font-size: 1.2rem;
  
}

.endDate {
  padding: 2rem;
  border-top: 4px ridge white;
  border-bottom: 4px ridge white;
  border-radius: 45px;
  font-size: 1.2rem;
  
}

.cb {
  position: relative;
  top: 63px;
  left: 9px;
  cursor: auto;
}
