.container {
  min-height: 100vh;
  padding: 2rem 5rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-buttons {
  width: 90%;
  border: 1px solid transparent;
  margin: 50px auto 0 auto;
  padding: 1em;
  text-align: center;
}

.main {
  top: 20rem;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: rgb(241, 238, 238);
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: -2rem;
  color: rgb(241, 238, 238);
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.btn-abrir-popup {
  padding: 0 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: rgb(0, 0, 0);
  background: rgb(248, 248, 117, 0.7);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease all;
  cursor: pointer;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}

.contenedor article {
  line-height: 28px;
}

.contenedor article h1 {
  font-size: 30px;
  text-align: left;
  padding: 50px 0;
}

.contenedor article p {
  margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
  padding: 0 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5e7de3;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
  cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
  background: rgba(94, 125, 227, 0.9);
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 100%;
  }
  p {
    margin-left: 1rem;
  }
}
